.add_new_contact {
    width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}

.add_new_contact__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add_new_contact__form {
    width: 500px;
}

.add_new_contact__form .form__row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.add_new_contact__form .form__row label {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    width: 130px;
}

.add_new_contact__form .form__row input {
    display: block;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    flex-grow: 1;
}

.form__row.photo_preview {
    align-items: flex-start;
}

.photo_preview__image {
    width: 200px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    overflow: hidden;
}

.photo_preview__image img {
    display: block;
    width: 100%;
    height: auto;
}

.form__row.buttons {
    padding-top: 30px;
}

.form__row.buttons a, .form__row.buttons button {
    display: block;
    padding: 7px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background: #000;
}

.form__row.buttons a:hover, .form__row.buttons button:hover {
    -webkit-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
}

.form__row.buttons button {
    margin-right: 80px;
}