header {
    width: 800px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .button a {
    padding: 10px;
    border: 2px solid #000;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
}

header .button a:hover {
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

header .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}