.contact_list {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    min-height: 500px;
}

