.contact {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    max-width: 500px;
    overflow: hidden;
    cursor: pointer;
}

.contact:last-of-type {
    margin: 0;
}

.contact .image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 20px;
}

.contact .image img {
    display: block;
    width: 100%;
    height: auto;
}

.contact .name {
    font-size: 24px;
    font-weight: bold;
}