.full_contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.full_contact .image {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.full_contact .image img {
    width: 100%;
    height: auto;
    display: block;
}

.full_contact .info {
    display: flex;
    flex-flow: column wrap;
    width: calc(100% - 200px)
}

.full_contact .info span {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.buttons button {
    display: block;
    padding: 7px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.5);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background: #000;
}

.buttons button:hover {
    -webkit-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.75);
}